@charset "utf-8";

@font-face {
	font-family: 'Univers Condensed';
	src : url('./../fonts/Univers Condensed.eot');
	src: local(※),
		 url('./../fonts/Univers Condensed.eot?#iefix') format('embedded-opentype'),
		 url('./../fonts/Univers Condensed.woff') format('woff'),
		 url('./../fonts/Univers Condensed.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'Univers Condensed';
	src : url('./../fonts/Univers Condensed-Bold.eot');
	src: local(※),
		 url('./../fonts/Univers Condensed-Bold.eot?#iefix') format('embedded-opentype'),
		 url('./../fonts/Univers Condensed-Bold.woff') format('woff'),
		 url('./../fonts/Univers Condensed-Bold.ttf') format('truetype');
	font-style: normal;
	font-weight: bold;
}


/**** reset.css ****/
	html {color: #000;overflow-y: scroll;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%}
	body{-webkit-text-size-adjust: none;background:#182839} /* 뷰표트 변환시 폰트크기 자동확대 방지 */
	html,body, div,p,h1,h2,h3,h4,h5,h6,input,button,textarea,select,table,ul,ol,li,dl,dt,dd,label,a,strong{margin:0;padding:0;}
	body, a, input, button, select, p,h1,h2,h3,h4,h5,h6,textarea,select, span, i{font-weight:400;font-family: "Univers Condensed",'Malgun Gothic','Arial','Dotum','sans-serif';font-size:1em;line-height:1.2em;}
	
	table{width:100%;table-layout:fixed;border-collapse: collapse;border-spacing: 0;}
	legend {width:0;height:0;font-size:0;line-height:0;overflow:hidden}
	address,em{font-style:normal;line-height:1em}
	img,fieldset,iframe{border:0;padding:0;margin:0}
	img,input,select,button,textarea{vertical-align:middle;}
	label,button,input[type="button"],input[type="submit"]{cursor:pointer;border:0;outline:0;}
	input{display:inline-block;*display:inline;border:0;}
	button{display:inline-block;*display:inline;padding:0;margin:0;border:0;cursor:pointer;vertical-align:middle;overflow:visible;background:transparent;outline: none;}
	button::-moz-focus-inner,input::-moz-focus-inner, button:active{}
	select, button{box-sizing: content-box;}
	hr{display:none;}

	a{text-decoration:none;color:#666666;vertical-align:middle}
	a:hover{text-decoration:none;color:#555}
	a:selected, a:visited {outline: none}
	a:active, a:focus {}

	/* hidden contents */
	.skip, .hidden, .commonH{position:absolute; width:0; height:0; font-size:0; line-height:0; overflow:hidden; visibility:hidden; z-index:-1;}

	/*clear*/
	.clearfix:after{content:'';display:block;clear:both;}
	.clearfix{*zoom:1}
	.clear{margin:0;padding:0;list-style:none;}

	/* float */
	.clearfix .float_l{float:left;}
	.clearfix .float_r{float:right;}
	.clearfix .float_n{clear:both;}

	/*ellipsis*/
	.ellipsis{display:block;width:100%;white-space: nowrap;overflow:hidden;text-overflow:ellipsis;}
	.ellipsis-2{display:-webkit-box;white-space: normal;line-height:1.2em;height:2.4em;-webkit-line-clamp: 2;-webkit-box-orient:vertical;word-wrap:break-word;}

	/* skipToContent */
	#skipToContent {position:absolute;top:0;height:0px;width:100%;z-index:30;}
	#skipToContent a {display:block; height:1px; width:1px; margin-bottom:-1px; overflow:hidden; text-align:center;color:#fff;white-space:nowrap;;}
	#skipToContent a:focus, #skipToContent a:active {display:block;top:0;width:100%;height:30px;line-height:30px;background:#555;color:#eee;}

	/*form&input base style*/
	input{height:2em;font-size:1em;line-height:1em;padding:0.5em;border:1px solid #aaa;background:#fff;box-sizing: border-box;}
	.ie8 input{height:1em;padding:.9em 0.5em}
	input[size="100"]{width:100%}
	input[size="90"]{width:90%}
	input[size="80"]{width:80%}
	input[size="30"]{width:30em}
	input[size="25"]{width:25em}
	input[size="20"]{width:20em}
	input[size="15"]{width:15em}	
	input[size="10"]{width:10em}
	input[size="8"]{width:8em}
	input[size="5"]{width:5em}
	input[type="file"]{padding:0}
	input::-webkit-input-placeholder { color: #666666;}
	input::-moz-placeholder { color: #666666;}
	input:-ms-input-placeholder { color: #666666;}
	input:-moz-placeholder { color: #666666;}
	input[type="submit"], input[type="reset"], input[type="button"], input[type="text"], input[type="password"]{-webkit-appearance: none;-moz-appearance: none;appearance: none;border-radius: 0px;} /* 모바일 라운드 제거 */
	
	/* Change the white to any color ;) */
	input:-webkit-autofill,
	input:-webkit-autofill:hover, 
	input:-webkit-autofill:focus, 
	input:-webkit-autofill:active  {
		-webkit-box-shadow: 0 0 1em rgba(0,0,0,0.2) inset !important;
		background-color: transparent !important;
	}
	textarea{display:block;border:1px solid #e5e5e5;padding:.5em .3em}
	textarea[size="100"]{width:99%}
	select{font-size:1em;height:2em;line-height:1em;padding:0.5em;margin:0;border:1px solid #aaa;color:#666666;background:transparent;}
	.ie8 select{height:1.8em}
	select[width="5"]{width:5em}
	select[width="6"]{width:6em}
	select[width="8"]{width:8em}
	select[width="10"]{width:10em}
	select[width="15"]{width:15em}	
	select[width="20"]{width:20em}
	select[width="30"]{width:30em}
	select[width="100"]{width:100%}

	/* padding & margin */
	.pt5{padding-top:0.3125rem;}
	.pt10{padding-top:0.625rem;}
	.pt15{padding-top:0.9375rem;}
	.pt20{padding-top:1.25rem;}
	.pt25{padding-top:1.5625rem;}
	.pt30{padding-top:1.875rem;}
	.pt35{padding-top:2.1875rem;}

	.pb5{padding-bottom:0.3125rem;}
	.pb10{padding-bottom:0.625rem;}
	.pb15{padding-bottom:0.9375rem;}
	.pb20{padding-bottom:1.25rem;}
	.pb25{padding-bottom:1.5625rem;}
	.pb30{padding-bottom:1.875rem;}
	.pb35{padding-bottom:2.1875rem;}

	.mt5{margin-top:0.3125rem;}
	.mt10{margin-top:0.625rem;}
	.mt15{margin-top:0.9375rem;}
	.mt20{margin-top:1.25rem;}

	.mb5{margin-bottom:0.3125rem;}
	.mb10{margin-bottom:0.625rem;}
	.mb15{margin-bottom:1.9375rem;}
	.mb20{margin-bottom:1.5625rem;}

	/* text style */
	.text_right{text-align:right}
	.text_left{text-align:left}
	.text_center{text-align:center}
	.c_black{color:#282828}
	.c_primary{color:#74a8cf}
	.c_denim{color:#3e5a7f}
	.c_gray{color:#999}
	.f_normal{font-weight:400}
	.f_bold{font-weight:700}
	.t_upper{text-transform:uppercase}
	.text-area.lh14 p{line-height:1.4em}
	.text-area.lh16 p{line-height:1.6em}
	.text-area.lh18 p{line-height:1.8em}
	.text48{font-size:3rem}
	.text42{font-size:2.65rem}
	.text36{font-size:2.25rem}
	.text30{font-size:1.875rem}
	.text28{font-size:1.75rem}
	.text24{font-size:1.5rem}
	.text20{font-size:1.25rem}
	.text18{font-size:1.125rem}
	.text15{font-size:.9375rem}
	.text14{font-size:.875rem}
	.text12{font-size:.75rem}
	.text10{font-size:.625rem}
	.ls1{letter-spacing:-1px}
	.ls2{letter-spacing:-2px}


	/* image style */
	.img_area.img_center{text-align:center}
	.img_area.img_left{text-align:left}
	.img_area.img_right{text-align:right}
	.img_area img{max-width:100%}
